# OS 
.DS_Store

# Env / secrets 
.env
.env.*

# Local DB / data files 
*.sqlite
*.sqlite3
*.db
/data/**

# Logs & crash dumps 
*.log
hs_err_pid*
replay_pid*

# Java 
*.class
*.hprof
Temp*.java

# Gradle / build outputs
.gradle/
**/.gradle/
build/
**/build/
out/
**/out/

# Keep Gradle wrapper artifacts
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradle-app.setting
.gradletasknamecache

# JetBrains / IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code (keep only shareable files)
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
# I have a lot of specific settings I don't want to accidentally push
# !.vscode/settings.json
.vscode/*.code-snippets
.history/
*.vsix
.ionide

# Eclipse / NetBeans / STS
.project
.classpath
.nb-gradle/
nbbuild/
dist/
nbdist/
nbproject/private/
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache
bin/
**/bin/

# Node / Angular 
node_modules/
bower_components/
dist/
tmp/
coverage/
.angular/
*.tsbuildinfo
npm-debug.log*
yarn-error.log*
app/**/*.js
app/**/*.js.map
e2e/*.js
e2e/*.map
.sass-cache/
connect.lock/
libpeerconnection.log/
testem.log

# Others
HELP.md
# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
RevaIssue/env
